.player__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
}

.player__video {
  width: 60rem;
}

.player__poster__container {
  width: 60rem;
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player__poster {
  margin-right: 1rem;
  position: relative; 
}

.player__poster > img {
  margin: 3rem;
}

.player__poster__description {
  visibility: hidden;
  width: 12rem;
  height: 12rem;
  background-color: #FFF;
  text-align: center;
  border-radius: 0.6rem;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: -5px;
  left: 105%;
}

.player__poster .player__poster__description::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 100%
}

.player_poster:hover .player__poster__description {
  display: block;
}