.player__container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: gold;
}

.player__video {
  width: 70rem;
}

.player__poster__container {
  margin-top: 1rem;
  width: 70rem;
  height: 10em;
  background-color: blue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.player__poster {
  margin-right: 1rem;
  flex-grow: 1;
  height: 100%;
  background-color: green;
}